body{
	background-size: cover;
	color:#fff;
	background-image: url('https://media.giphy.com/media/gfSYIX7DpnIWc/giphy.gif');
}
header, #battle-area{
	background-color: rgba(0, 0, 0, 0.8);
}
#fixed{
	position: fixed;
	bottom:0;
	right:50px;
	text-align: right;
}
.user{
	background-size: cover;
}
.health{
	font-weight: 700;
	font-size: 2em;
}